<a href="https://colab.research.google.com/github/ghanalk1/Global-Terrorism-Analysis-EDA/blob/main/Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#**Importing data and exploring it.**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# reading file with encoding option set to 'ISO-8859-1'
df = pd.read_csv('/content/drive/MyDrive/dat/Global Terrorism Data.csv', encoding='ISO-8859-1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [5]:
df.shape

(181691, 135)

In [6]:
# selecting important columns.
df = df[['eventid', 'iyear', 'imonth', 'iday', 'extended', 'resolution', 'country_txt', 'region_txt', 'city', 'latitude', 
         'longitude', 'success', 'suicide', 'attacktype1_txt', 'targtype1_txt', 'weaptype1_txt', 'nkill', 'nwound', 'gname']]

In [ ]:
# renaming columns.
df.rename(columns={'eventid':'Id', 'iyear':'Year', 'iday':'Day', 'imonth':'Month', 'extended':'Extended', 'resolution':'Resolution', 
                   'country_txt':'Country', 'region_txt':'Region', 'city':'City', 'latitude':'Latitude', 'longitude':'Longitude', 'success':'Success', 
                   'suicide':'Suicide', 'attacktype1_txt':'Attack_type', 'targtype1_txt':'Target', 'weaptype1_txt':'Weapon_type', 'nkill':'Number_of_killed', 
                   'nwound':'Number_of_wounded', 'gname':'Terrorist_group'}, inplace=True)

In [8]:
df.head()

             Id  Year  ...  Number_of_wounded                     Terrorist_group
0  197000000001  1970  ...                0.0                              MANO-D
1  197000000002  1970  ...                0.0  23rd of September Communist League
2  197001000001  1970  ...                0.0                             Unknown
3  197001000002  1970  ...                NaN                             Unknown
4  197001000003  1970  ...                NaN                             Unknown

[5 rows x 19 columns]

In [9]:
# dropping some columns.
df.drop(columns=['Id', 'Resolution'], inplace=True)

In [10]:
df.head()

   Year  Month  ...  Number_of_wounded                     Terrorist_group
0  1970      7  ...                0.0                              MANO-D
1  1970      0  ...                0.0  23rd of September Communist League
2  1970      1  ...                0.0                             Unknown
3  1970      1  ...                NaN                             Unknown
4  1970      1  ...                NaN                             Unknown

[5 rows x 17 columns]

# **Data Cleaning**

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               181691 non-null  int64
 1   Month              181691 non-null  int64
 2   Day                181691 non-null  int64
 3   Extended           181691 non-null  int64
 4   Country            181691 non-null  object
 5   Region             181691 non-null  object
 6   City               181257 non-null  object
 7   Latitude           177135 non-null  float64
 8   Longitude          177134 non-null  float64
 9   Success            181691 non-null  int64
 10  Suicide            181691 non-null  int64
 11  Attack_type        181691 non-null  object
 12  Target             181691 non-null  object
 13  Weapon_type        181691 non-null  object
 14  Number_of_killed   171378 non-null  float64
 15  Number_of_wounded  165380 non-null  float64
 16  Terrorist_group    181691 non-null  object
dtypes: float64(4), int64(6), object(7)
memory usage: 23.6+ MB

In [14]:
# looking for null values.
df.isna().sum()

Year                     0
Month                    0
Day                      0
Extended                 0
Country                  0
Region                   0
City                   434
Latitude              4556
Longitude             4557
Success                  0
Suicide                  0
Attack_type              0
Target                   0
Weapon_type              0
Number_of_killed     10313
Number_of_wounded    16311
Terrorist_group          0
dtype: int64

In [16]:
df['Extended'].value_counts()

0    173452
1      8239
Name: Extended, dtype: int64

In [17]:
# dropping 'Extended' column
df.drop(columns=['Extended'], inplace=True)

In [19]:
# dropping 'latitude' and 'longitude' and 'number of wounded' columns
df.drop(columns=['Latitude', 'Longitude', 'Number_of_wounded'], inplace=True)

In [20]:
df.head(2)

   Year  Month  ...  Number_of_killed                     Terrorist_group
0  1970      7  ...               1.0                              MANO-D
1  1970      0  ...               0.0  23rd of September Communist League

[2 rows x 13 columns]

In [21]:
df.isna().sum()

Year                    0
Month                   0
Day                     0
Country                 0
Region                  0
City                  434
Success                 0
Suicide                 0
Attack_type             0
Target                  0
Weapon_type             0
Number_of_killed    10313
Terrorist_group         0
dtype: int64

In [22]:
df[df['Number_of_killed'].isna()]

        Year  Month  ...  Number_of_killed                        Terrorist_group
3       1970      1  ...               NaN                                Unknown
4       1970      1  ...               NaN                                Unknown
15      1970      1  ...               NaN                              Commune 1
34      1970      1  ...               NaN                                Unknown
95      1970      2  ...               NaN                                Unknown
...      ...    ...  ...               ...                                    ...
181636  2017     12  ...               NaN  Khorasan Chapter of the Islamic State
181640  2017     12  ...               NaN                                Unknown
181662  2017     12  ...               NaN                New People's Army (NPA)
181666  2017     12  ...               NaN                             Boko Haram
181667  2017     12  ...               NaN                  Hay'at Tahrir al-Sham

[10313 rows x 13 columns]

In [23]:
df[df['City'].isna()]

        Year  Month  Day  ... Weapon_type Number_of_killed Terrorist_group
79458   2006      1   19  ...    Firearms              1.0         Unknown
79459   2006      1   19  ...    Firearms              1.0         Unknown
79550   2006      1   24  ...    Firearms              1.0         Unknown
79583   2006      1   27  ...    Firearms              1.0         Unknown
79952   2006      2   21  ...    Firearms              2.0         Unknown
...      ...    ...  ...  ...         ...              ...             ...
103120  2011      9   17  ...    Firearms              0.0         Unknown
103403  2011     10   10  ...  Explosives              0.0         Unknown
103453  2011     10   14  ...    Firearms              3.0         Unknown
103530  2011     10   21  ...    Firearms              3.0         Unknown
103543  2011     10   23  ...  Explosives              1.0         Unknown

[434 rows x 13 columns]

In [25]:
# filling nan values in City column with some values.
df.fillna(value={'City':'Unknown'}, inplace=True)

In [26]:
df.isna().sum()

Year                    0
Month                   0
Day                     0
Country                 0
Region                  0
City                    0
Success                 0
Suicide                 0
Attack_type             0
Target                  0
Weapon_type             0
Number_of_killed    10313
Terrorist_group         0
dtype: int64

In [27]:
# filling nan values in Number of killed column with 0.
df.fillna(value={'Number_of_killed':0}, inplace=True)

# we could have used fillna() for both columns at once also.

In [28]:
df.isna().sum()

Year                0
Month               0
Day                 0
Country             0
Region              0
City                0
Success             0
Suicide             0
Attack_type         0
Target              0
Weapon_type         0
Number_of_killed    0
Terrorist_group     0
dtype: int64